# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
.venv/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE or Editor directories and files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
