phidata
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
openai
sqlalchemy
pgvector
psycopg[binary]
pypdf
streamlit
google-generativeai
beautifulsoup4
requests
pytube
youtube_transcript_api
pymongo
bcrypt
cloudinary
fpdf
PyPDF2